body {
  margin: 0px;
  font-family:"Avenir Next","Helvetica Neue",Helvetica,Arial;
  font-size:20px;
}

h1 {
  margin: 0px;
  padding: 10px 30px 0 30px;
  line-height:2.5;
  color: #fff;
  background: linear-gradient(to right, #4A90E2, #72B4E4);
}

div.title {
  margin: 3px;
  padding: 0 30px 0 30px;
  display: flex;
}

input.button {
  padding: 5px;
  font-size: 20px;
  color: #fff;
  background-color: #4a90e2;
  border: 1px solid #33639c;
  border-radius: 3px;
}

input.text {
  font-size:16px;
  height:20px;
  border: 1px solid #ededed;
  width: 100%
}

textarea {
  width: 100%;
  resize: none;
}

p.action {
  margin-left: auto;
  align-items: center;
  display: flex;
}

p.title {
  display: flex;
}

label {
  font-size: 15px;
  margin-right: 20px;
}
